body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    margin: 0;
    padding: 20px;
}
.resume-container{
    display: flex;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.Left{
    background-color:#34495e;
    padding: 20px;
    width: 20%;
    text-align: center;
    border-right: 5px solid black;
    
}
.profile-picture{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: solid black;
    margin-bottom: 20px;
}
h1{
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #e67e22;

}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color:#e67e22;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(41, 56, 149);
    margin-top: 5%;
    margin: 5%;
}
ul{
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}
ul li{
    margin: 5px;
}

.right-section{
    padding: 20px;
    width: 80%;
    background-color: #ecf0f1;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px blue;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    background-color: #e67e22
}
button:hover{
    background-color: blueviolet;
}
.black{
    color:#e67e22;
}
.white{
    color: white;
}
.gray{
    color: gray;
}
.blue{
    color: #e67e22;
}
p{
    line-height: 1.6;
    margin: 10px;
}
.link{
    color: #2980b9;
}